/*CSS RESET*/

*{

margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);

}


#fundo{
position: relative;
width: 1000px;
height: 2000px;
background-color: rgb(255, 255, 255);
margin: auto;
margin-top: 10px;
}

#camada1{
position:relative;
width: 200px;
height: 100px;
background-color: blue;
text-align: center;
padding: 10px; 
box-sizing: border-box;
float: left;
}

#camada2{
position:relative;
 width:796px;
    height: 97px;
    background-color: rgb(253, 7, 7);
text-align: center;
padding: 10px; 
box-sizing: border-box;
clear: left;
left: 202px;  
top: -99px; 
}

#camada3{
position:relative;
width: 1000px;
    height: 50px;
    background-color: rgb(28, 253, 7);
text-align: center;
padding: 10px; /*espaço por dentro da a´rea*/
clear: left;
top: -99px;
}

#camada4{
position:relative;
  width: 1000px;
    height: 605px;
    background-color: rgb(255, 255, 39);
    border: 10px solid rgb(255, 0, 0);
text-align: center;
padding: 10px; /*espaço por dentro da a´rea*/
clear: left;
top: -99px
}

#camada5{
position:relative;
  width: 1000px;
    height: 75px;
    background-color: rgb(156, 156, 154);
text-align: center;
padding: 10px; /*espaço por dentro da a´rea*/
clear: left;
top: -99px
}
